<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="greetingController" class="com.wipro.training.controller.GreetingController"/>

    <!-- Services -->
    <beans profile="common">
        <bean id="greetingServiceCommonTongueImpl" class="com.wipro.training.service.GreetingServiceCommonTongueImpl"/>
    </beans>
    <beans profile="valyrian">
        <bean id="greetingServiceHighValyrianImpl" class="com.wipro.training.service.GreetingServiceHighValyrianImpl"/>
    </beans>
    <beans profile="default,dothraki">
        <bean id="greetingServiceDothrakiImpl" class="com.wipro.training.service.GreetingServiceDothrakiImpl"/>
    </beans>
</beans>